@font-face {
    font-family: ToyotaFont;
    src: url(fonts/ToyotaType-Light.otf);
    font-style: normal;
    font-weight: 100;
}
@font-face {
    font-family: ToyotaFont;
    src: url(fonts/ToyotaType-Book.otf);
    font-style: normal;
    font-weight: 200;
}
@font-face {
    font-family: ToyotaFont;
    src: url(fonts/ToyotaType-Regular.otf);
    font-style: normal;
    font-weight: 300;
}
@font-face {
    font-family: ToyotaFont;
    src: url(fonts/ToyotaType-Semibold.otf);
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: ToyotaFont;
    src: url(fonts/ToyotaType-Bold.TTF);
    font-style: normal;
    font-weight: 500;
}
body{
    font-family: ToyotaFont !important;
}
.aves_padding{
    padding-left: 140px;
    padding-right: 140px;
}
.huge_block{
    display: block;
    position: relative;
    width: 100%;
    height: min-content;
    min-height: 1080px;
    background-color: #2d2d37;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.white_block{
    display: block;
    background-color: white;
    width: 100%;
    height: 950px;
    padding-top: 80px;
}
#reduced-bg{
    background-size: 80%;
}
header{
    /*height: 100vh !important;*/
    max-height: 1080px !important;
    min-height: unset !important;
}
header div{
    display: block;
    width: 100%;
    height: inherit;
    max-height: 1080px;
}
#shit{
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%);
}
.shadow_block{
    display: block;
    width: inherit;
    height: inherit;
    min-height: inherit;
    background-color: rgba(0,0,0,0.75);
}
#bc-special{
    height: 1080px !important;
}
.medium_block{
    display: block;
    position: relative;
    width: 100%;
    height: 100vh;
    max-height: 703px;
    background-color: #2d2d37;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
footer{
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 65%);
    background-color: #DFBC26;
    width: 100%;
    height: 297px;
}
.content_block{
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    max-height: inherit;
    padding-left: 10px;
}
.content_block-2{
    display: block;
    position: relative;
    width: inherit;
    height: inherit;
    max-height: inherit;
}
.content_block h1{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 20px;
    color: white;
    opacity: 0.8;
}
.content_block .gold_line{
    width: 45% !important;
    height: 2px;
    border-top: 2px solid #DFBC26;
    opacity: 0.45;
    margin: 24px 0px 21px 0px;
}
.content_block desc{
    font-weight: 100;
    font-size: 17px;
    color: white;
    opacity: 0.6;
}
.abs_content{
    position: absolute;
    top: 0%;
    width: 100%;
    min-height: 100px;
    z-index: 3;
}
.aves_logo{
    width: 122px;
    height: 78px;
}
.white_logo{
    width: 100%;
    height: 70px;
}
.white_box{
    display: flex;
    width: 192px;
    height:161px;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-color: white;
    align-items: flex-end;
}
.flex_filler{
    opacity: 0;
    display: flex;
    height: 100%;
    width: 100%;
}
#fill-1{
    width: 81%;
}
#btn-block{
    height: 516px;
}
.btn_aves{
    background-color: rgba(0,0,0,0);
    border: 1px solid #DFBC26;
    color: #DFBC26;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    max-width: 160px;
    min-height: 47px;
    padding: 13px 40px 13px 40px;
    border-radius: 38px;
    opacity: 1;
    transition: 0.3s;
}
.btn_aves:hover{
    color:black;
    background-color: #DFBC26;
}
.contact_block{
    position: absolute;
    top: 50px;
    left: calc(100% - 373px);
    max-width: 373px;
    min-height: 534px;
    width: 100%;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
    background-color: rgba(255,255,255,0.4);
    border-radius: 6px;
    z-index: 10;
}
.contact_block h1{
    padding: 42px 23px 42px 48px;
    margin: 0px !important;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.contact_block form{
    margin-top: 10px;
    padding-left: 36px;
    padding-right: 36px;
    width: 100%;
    height: 70.5%;
}
.contact_form{
    position: relative;
    top: -100px;
    padding: 45px 37px 45px 37px;
    max-width: 707px;
    min-height: 534px;
    height: min-content;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    border-radius: 6px;
    z-index: 10;
}
.contact_form form{
    display: flex;
    width: inherit;
    max-width: inherit;
    height: inherit;
}
.contact_form .block{
    width: 50%;
    padding-left: 8px;
    padding-right: 8px;
}
.contact_form h1{
    padding-bottom: 58px;
    margin: 0px !important;
    width: 100%;
    font-weight: 100;
    font-size: 18px;
    color: white;
    text-transform: uppercase;
}
.checkbox_space{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    margin-bottom: 39px;
    font-weight: 100;
    font-size: 18px;
}
.form_textarea{
    width: 100%;
    height: 100%;
    padding: 6px 6px 6px 6px;
    margin-bottom: 39px;
    appearance: none;
    border: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 18px;
}

form input{
    width: 100%;
    height: 45px;
    margin-bottom: 39px;
    appearance: none;
    border: none;
    border-radius: 5px;
    font-weight: 100;
    font-size: 18px;

}
::placeholder{
    text-align: center;
}
.btn_flex{
    display: flex;
    position: relative;
    top: 26%;
    width: 100%;
    height: min-content;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 100%);
}
.btn_flex-2{
    display: flex;
    position: relative;
    top: -5%;
    width: 100%;
    height: min-content;
    justify-content: center;
}
.btn_aves-inv{
    background-color: #DFBC26;
    border: 1px solid #DFBC26;
    color: black;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 100;
    width: 100%;
    max-width: 160px;
    min-height: 47px;
    height: unset;
    padding: 13px 40px 13px 40px;
    border-radius: 38px;
    opacity: 1;
    transition: 0.3s;
}
.btn_aves-inv:hover{
    color:#DFBC26;
    background-color: rgba(0,0,0,0);
}
.aves_title{
    max-width: 492px;
    min-height: 49px;
    width: 100%;
    margin-top: 85px;
    font-weight: 400;
    font-size: 34px;
    color: #fff;
    opacity: 0.8;
}
h1 i{
    appearance: none;
    font-style: normal;
    color: #DFBC26;
}
.item_1{
    padding-left: 74px;
    padding-right: 74px;
    width: 100%;
}
.item_1 div{
    margin-bottom: 41px;
    width: 100%;
}
.item_1 .pic{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 197px;
}
.pic div{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
}
.pic label{
    position: relative;
    left: -32px;
    width: 176px;
    height: 37px;
    line-height: 37px;
    font-weight: 200;
    background-color: black;
    font-size: 20px;
    text-align: center;
    color: #DFBC26;
}
.item_1 .gold_line{
    width: 50% !important;
    height: 2px;
    border-top: 2px solid #DFBC26;
}
.item_1 .desc{
    width: 100%;
    font-weight: 300;
    font-size: 18px;
    color:#DFBC26;
    height: 130px;
    overflow: hidden;
}
.item_1 .list{
    width: 105%;
}
.list line{
    display: flex;
    width: 100%;
    min-height: 42px;
}
.list line .dot{
    width: 12px;
    height: 12px;
    min-width: 12px;
    min-height: 12px;
    margin-right:15px;
    margin-top: 12px;
    background-color: #DFBC26;
    border-radius: 50%;
}
.list line p{
    font-weight: 100;
    font-size:18px;
    color: white;
    opacity: 0.8;
    margin: 0px;
    line-height: 32px;
}
.grid-3,.grid-4{
    margin-bottom: 0px;
}
.listing_pic{   
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 821px;
    width: 100%;
    height: 378px; 
}
.listing_content{
    max-width: 598px;
    min-height: 378px;
    height: min-content;
    width: 100%;
    /*margin-left: 4.4%;*/
}
.odd .listing_content{
    margin-left: 4.4vw;
}
.even .listing_content{
    margin-right: 4.4vw;
}
.listing_content h1{
    opacity: 0.8;
    font-weight: 200;
    font-size: 34px;
    color: white;
}
.listing_content desc{
    opacity: 0.75;
    font-size: 18px;
    font-weight: 100;
    color: white;
}
.flex_50{
    width: 50%;
}
.white_block h1{
    color: black;
}
.white_block desc{
    color: black;
}
#extra-pad{
    padding-left: 9.2%;
    padding-right: 6.2%;
}
.item_2{
    display: flex;
    padding-right: 50px;
    max-width: 301px;
    min-height: 420px;
    width: 100%;
    margin-bottom: 16px;
}
.item_2 .icon_block{
    width: 36px;
    min-width: 36px;
    height: 100%;
}
.icon_block img{
    width: 100%;
    height: 36px;
}
.up_shadow{
    /*background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%);*/
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 45%, rgba(0,0,0,1) 75%);
    width: 100%;
    height: inherit;
    min-height: inherit;
}
.car_pop{
    position: absolute;
    top: -540px;
    max-width: 1334px;
    width: 100%;
    height: 820px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /*z-index: 20;*/
}
input.form_check{
    cursor: pointer;
    appearance: none;
    -webkit-appearance: none;
    width: 22px;
    height: 22px;
    background-color: black;
    transition: 0.3s;
    border: 2px solid white;
    border-radius: 50%;
    margin-bottom: 0px;
    
  }

  input.form_check:checked{
    transform: rotate(60deg) translate(-3px,0px);
    height: 22px;
    border-top: 1px hidden;
    border-left: 1px hidden;
    background-color: rgba(0,0,0,0);
    border-radius: 1px;
    margin-left: 12px;
    width: 10px;
  }

  input.form_check:focus-visible{
    outline: none;
  }
  .checkbox_space p{
      margin: 0px 0px 0px 6px;
      font-weight: 100;
      font-size: 18px;
      color: white;
      opacity: 0.85;
  }
  .checkbox_space p a{
    color: #DFBC26
}
  .fixed_bar{
     position: fixed;
     top: 10%;
     display: flex;
     justify-content: center;
     width: 100%;
     z-index: 100;
  }
  .session_reply{
      justify-content: center;
      align-items: center;
      max-width: 960px;
      width: 100%;
      min-height: 180px;
      display: flex;
      padding: 45px 45px 45px 45px;
      background-color: black;
      border-radius: 6px;
  }
  .session_reply h1{
      color: white;
      text-transform: uppercase;
      margin: 0px;
      padding-left: 32px;
      font-size: 34px;
      font-weight: 300;
  }
  .session_reply button{
      position: relative;
      top: -8px;
      width: 42px;
      height: 64px;
      font-size: 42px;
      border: none;
      background-color: rgba(0,0,0,0);
      color: white;
      transition: 0.3s;
  }
  .session_reply button:hover{
      color: #DFBC26;
      font-size: 43px;
  }
  #contact-block{
    height: 405px;
}

@media(max-width:1620px){
    .aves_padding{
        padding-left: 120px;
        padding-right: 120px;
    }
    #bc-special{
        height: inherit !important;
    }
    .content_block h1{
        font-size: 18px;
    }
    .content_block desc{
        font-size: 16px;
    }
}
@media(max-width:1280px){
    .aves_padding{
        padding-left: 68px;
        padding-right: 68px;
    }
    #btn-block{
        height: 120px;
    }
    .item_1{
        padding-left: 46px;
        padding-right: 46px;
    }
    .list line p{
        font-size:16px;
    }
    .odd,.even{
        margin-bottom: 16px;
    }
    .listing_content h1{
        font-size: 26px;
    }
    .listing_content desc{
        font-size: 16px;
    }
    .medium_block{
        max-height: unset;
        min-height: 703px;
        height: min-content;
    }
    .contact_form{
        top: 0px;
    }
}
@media(max-width:512px){
    .aves_padding{
        padding-left: 16px;
        padding-right: 16px;
    }
    #fill-1{
        width: 30%;
    }
    .white_logo{
        height: 55px;
    }
    .contact_block{
        left: 0%;
        position: relative;
    }
    #contact-block{
        height: unset;
        min-height: 405px;
    }
    .btn_flex{
        top: 22%;
    }
    .aves_title{
        font-size: 26px;
        text-align: center;
    }
    .item_1{
        padding-left: 12px;
        padding-right: 12px;
    }
    .list line p{
        font-size:14px;
    }
    .white_block{
        padding-top: 10px;
        height: min-content;
    }
    .odd .listing_content{
        margin-left: 0%;
    }
    .flex_50{
        width: 100%;
    }
    .odd{
        flex-wrap: wrap;
    }
    .even{
        flex-wrap: wrap-reverse;
    }
    #extra-pad{
        padding-left: 0%;
        padding-right: 0%;
    }
    .item_2{
        padding-right: 30px;
    }
    .contact_form form{
        flex-wrap: wrap;
    }
    .contact_form .block{
        width: 100%;
    }
    .car_pop{
        top: -110px;
        height: 340px;
        /*z-index: 20;*/
    }
}